@model IEnumerable<PlateformeConcours.Models.Filiere>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div class="intro-section" id="home-section">
        <div class="slide-1"
             style="background-image: url('images/hero_1.jpg');"
             data-stellar-background-ratio="0.5">
            <div class="container-fluid">

                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row  align-items-center justify-content-center m-5">
                            <div class="col-12 col-md-12 col-lg-12 ml-auto mt-5 " data-aos="fade-up" data-aos-delay="400">
                                <div class="form-box border border-dark">
                                    <h3>Epreuves par filiere</h3>
                                    <table class="table table-striped table-bordered ">
                                        <thead>
                                            <tr>

                                                <th>Nom Filiere</th>
                                                <th>Liste des Anciens Epreuves</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                                <tr>

                                                    <td>@item.Titre</td>

                                                    <td>

                                                        @Html.ActionLink("  Liste Epreuves", "ListFilesParFiliere", new { id_fil = item.ID }, new { @class = " btn btn-info  fa fa-file" })


                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                             </div>                            
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>


                                @*<div id="page-inner">

                                    <div class="row">
                                        <div class="col-md-12">
                                             Advanced Tables
                                            <div class="panel panel-default">

                                                <div class="panel-body">


                                                    <div class="table-responsive">

                                                        <div class="panel-heading">
                                                            <h4> Table des anciens concours </h4>
                                                        </div>




                                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>


                                                                    <th>Nom Filiere</th>
                                                                    <th>Liste des Anciens Epreuves</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {

                                                                    <tr>
                                                                        <th scope="row">@item.ID</th>

                                                                        <td>@item.Titre</td>

                                                                        <td>

                                                                            @Html.ActionLink("  Liste Epreuves", "ListFilesParFiliere", new { id_fil = item.ID }, new { @class = " btn btn-info  fa fa-file" })


                                                                        </td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@



